@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@400;600;700&family=Yeon+Sung&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Yeon Sung';
  background-color: #ececec;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

button {
  font-family: 'Yeon Sung';
  font-size: medium;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}



.basicStyle {
  width: 100%;
  height: 90vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

/* Button */

.Button .blue {
  background-color: skyblue;
}

.Button .tomato {
  background-color: tomato;
}

.Button .default {
  background-color: #ececec;
}

.Button button {
  border: none;
}

@media (min-height: 650px) {
  .MainPage {
    width: 640px;
  }
}

@media (max-height: 680px) {
  .MainPage {
    width: 90vw;
  }
}

.Header {
  height: 10vh;
  background-color: skyblue;
  text-align: center;
}

.MainPage {
  height: 90vh;
}

/* Home */
/* .Home {
  width: 100%;
  height: 90vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
} */

.Home .menuWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* MenuButton */
.MenuButton button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; 

  width: 200px;
  height: 200px;
  
  font-size: larger;
  font-family: 'Yeon Sung';
}

/* DIARY */

.diaryContents {
  background-color: cornsilk;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}